/*********************/
/*   Header Styles   */
/*********************/
header {
  background-color: var(--primaryColour);
  height: 100%;
  padding: .5rem 1rem;
}

h1 {
  color: #fff;
}

h2 {
  font-size: 1rem;
}

/***********************/
/*   Homepage Styles   */
/***********************/
.powerOff {
  margin: 3rem;
}

.thermostatContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.temperatureDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  margin: 2rem 0;
  padding: 0 2rem 0 8rem;
}

button {
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

button:hover {
  cursor: pointer;
}

.power button {
  width: 5rem;
  margin: 1rem 0.5rem;
}

.power button:hover {
  background-color: #FBBC02;
  border: 1px solid var(--primaryColour);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  padding: 0 8rem 0 2rem;
}

.fas {
  padding: 0 0.5rem 0 0;
}

.fa-fire {
  color: #FBBC02;
}

.heatButton {
  background-color: var(--supAccent);
}

.heatButton:hover {
  background-color: #E99F8F;
  border: 1px solid var(--primaryColour);
}

.fa-snowflake {
  color: white;
}

.coolButton {
  background-color: var(--secondaryColour);
}

.coolButton:hover {
  background-color: var(--supAccentTwo);
  border: 1px solid var(--primaryColour);
}

.autoHeatButton:hover {
  background-color: #E99F8F;
  border: 1px solid var(--primaryColour);
}

.autoCoolButton:hover {
  background-color: var(--supAccentTwo);
  border: 1px solid var(--primaryColour);
}

.autoStandbyButton:hover {
  background-color: #FBBC02;
  border: 1px solid var(--primaryColour);
}

/***********************/
/*   Thermostat Styles   */
/***********************/
/*********************/
/*   Footer Styles   */
/*********************/
/*********************/
/*   Global Styles   */
/*********************/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  background-color: #fff;
}

h2, h3 {
  color: var(--headers);
}

/*****************/
/*   Variables   */
/*****************/
/* Colours */
:root {
  --primaryColour: #020e18;
  --secondaryColour: #24bec9;
  --supAccent: #e76043;
  --supAccentTwo: #83d0d7;
  --headers: #0b263c;
}
/*# sourceMappingURL=App.css.map */